.askus-page {
    background-color: #EEE9E3;
    height: 100vh;
  }
  
  .contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    margin-top: -20px;
  }
  
  
  .contact-form {
    margin-top: 16px;
  }
  
  .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
  }
  .askus-title{
    text-align: center;
  }
  .message-textarea>textarea {
    padding: 10px;
  }
  
  .contact-page h3.contact-title {
    text-align: center;
    margin-bottom: -20px;
  }
  
  
  .champtext{
    border-radius: 12px !important;
    width: 321px;
    height: 230px;
  }
  .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: transparent !important;
    outline: 0;
    box-shadow:none !important;
  }
  .btn-custom {
    background-color: #FCC21B !important; 
    border-color: #FCC21B !important; 
    border-radius: 36px !important;
    width: 88px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }
  #sendbtn{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  form{
    text-align: center;
  }
