.home-container{
    background-color: #EEE9E3;
    height: 100vh;
}
.logo-section h1 {
    margin: 0;
    font-size: 24px;
}

.logo-section img {
    justify-content: space-around;
    height: auto;
    display: flex;
    text-align: center;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.home-navigation-menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.home-menu-item {
    text-decoration: none;
    color: black;
    padding: 10px 0;
    padding-left: 60px;
    border-bottom: 1px solid black;
    margin: 5px 0;
    display: block;
}

.home-menu-item span {
    display: block;
    transition: transform 0.4s ease-in-out;
}

.home-menu-item:hover span {
    transform: translateX(80px);
}

.home-item{
    font-size: xxx-large;
}










.topics{
    margin-top: 50px;

    
}
.topic{
    margin-bottom: 50px;
    font-family: 'MADE TOMMY';
    font-size: 32px;
    margin-left: 100px;
    color: #0B1215;

}

#hometitle{
    margin-top: 15px;
    text-align: center;
}


.horizontal-lineAbout {
    position: relative;
    margin-top: 10px; 
}

.horizontal-lineAbout::before {
    content: '';
    position: absolute;
    margin-left: -16px;
    left: -0.1%; 
    top: 74.59%;
    width: 2px; 
    height: calc(100% - -200px); 
    background-color: #0B1215; 
    transform: translateY(-50%) rotate(-90deg); 
}

.horizontal-lineCourses {
    position: relative;
    margin-top: 10px; 
}

.horizontal-lineCourses::before {
    content: '';
    position: absolute;
    margin-left: -10px;
    left: 0%; 
    top: 73%;
    width: 2px; 
    height: calc(100% - -200px); 
    background-color: black; 
    transform: translateY(-50%) rotate(-90deg); 
}
.horizontal-lineQuizz {
    position: relative;
    margin-top: 10px; 
}

.horizontal-lineQuizz::before {
    content: '';
    position: absolute;
    margin-left: -8px;
    left: 0%; 
    top: 74.86%;
    width: 2px; 
    height: calc(100% - -200px); 
    background-color: black; 
    transform: translateY(-50%) rotate(-90deg); 
}


.horizontal-lineProfile {
    position: relative;
    margin-top: 10px; 
}

.horizontal-lineProfile::before {
    content: '';
    position: absolute;
    margin-left: -15px;
    left: -0.1%; 
    top: 74.59%;
    width: 2px; 
    height: calc(100% - -200px); 
    background-color: #0B1215; 
    transform: translateY(-50%) rotate(-90deg); 
}

.homeflower{
    padding-left: 124px;
}

